@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--light);
	color: var(--dark);
}

/* CONTENT */
#content {
	position: absolute;
	width: calc(100% - 280px);
	left: 280px;
	top: 0;
	transition: .3s ease;
	margin: 0;
	padding: 0;
	height: calc(100vh - 56px);
	overflow: hidden;
}

/* MAIN */
main {
	padding: 36px 24px;
	font-family: var(--poppins);
	min-height: calc(100vh - 56px);
	overflow-y: auto;
	background-color: #eee;
}

/* Responsive Design */
@media (max-width: 768px) {
	#content {
		padding: 20px;
	}
}

/* Navbar Styles */
.navbar {
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Align it to the top */
    left: 280px; /* Adjust according to your layout */
    width: calc(100% - 280px); /* Full width minus sidebar */
    z-index: 1000; /* Ensure it stays above other content */
    background-color: var(--light); /* Background color for visibility */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 20px;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
